/* html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --white: #ffffff;
  --darkGrey:#56545430;
  --lightGrey:#f2f2f2b2;
  --red:red;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--darkGrey);
  background-size: cover;
  border-radius: 10px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.center {
  text-align: center;
  color: #090909;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}

.card {
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: center;
  border: 3px solid var(  --lightGrey);
  border-radius: 10px;
  background-color:var(--white);
  background-image: url('pokemon-icon.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  box-shadow: 1px 1px 5px #000;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.card::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
background: var(--white);
filter: blur(20px);
}

.card-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.card-button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.card-button:hover {
  background-color: #333;
}

.card-details {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color:var(--white);
  color: #333;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000;
}

.card-types {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-types h5 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.card-types li {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-box {
  width: 100%;
  max-width:500px;
    margin-bottom: 1rem;
  }
  
  .search-button {
    background-color: var(--red);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .search-button:hover {
    background-color: #333;
  }
  
  .search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      max-width: 90%;
    }
  }